* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-family: "Open Sans", sans-serif;
}

.main {
  height: 2848px;
  display: grid;
  grid-template-rows: 96px 830px 2000px 96px;
  font-size: 0.8em;
  width: 100vw;
  background-color: white;
}
/* ===============.header  */
.header {
  display: grid;
  place-items: center;
  background-color: #080c12;
}

.logoImg {
  justify-self: start;
}
.ddMenu {
  justify-self: end;
  align-self: center;
  padding: 41px 0 41px 100px;
}

.ddMenu:hover {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #b5d334;
  border-radius: 2px;
  margin: 2px 0;
}

.header .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  max-width: 1156px;
  align-items: center;
}

/*===============.dropdown*/

.dropdown-content {
  display: none;
  grid-template-columns: 1fr 1156px 1fr;
  grid-template-rows: repeat(7, auto);
  background-image: url(./assets/bg-inoa.png);
  background-repeat: repeat;
  background-size: 100px;
  z-index: 100;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  position: fixed;
  top: 96px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 96px);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
  grid-column: 2/4;
}

.ddMenu:hover .dropdown-content {
  display: grid;
}

.dropdown-content a:hover {
  color: #b5d334;
}

/* ===============.container  */
.container {
  display: grid;
  grid-template-columns: 1fr repeat(10, 115px) 1fr;
  grid-template-rows: 1fr 1fr;
}

.backImg {
  grid-column: 1/8;
  grid-row: 1/3;
  background-image: url("assets/header-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.green {
  grid-column: 6/13;
  grid-row: 1/2;
  background-color: #b5d334;
}

.backPat {
  grid-column: 5/13;
  grid-row: 1/3;
  background-image: url("assets/group-3x.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 24px 0px;
}
/* ===============.wrapper  */
.wrapper {
  grid-column: 8/12;
  grid-row: 1/3;
  color: white;
}

.steps {
  margin-top: 165px;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.step {
  padding: 5px 0;
}

#step1 {
  border-bottom: 4px solid #b5d334;
}

#step2 {
  text-align: center;
  border-bottom: 4px solid #b5d334;
}
#step3 {
  text-align: right;
  border-bottom: 4px solid white;
}

.bar {
  width: 95%;
  padding: 1.2rem 0.7rem;
  border-radius: 0.2rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

input:focus {
  border: none;
}

.congrats h2 {
  margin-top: 35px;
  font-size: 3.5em;
  font-style: italic;
}

.congrats p {
  margin-top: 35px;
}

.submit {
  display: grid;
}

.congrats .inputs {
  margin-top: 35px;
}

.submit button {
  background-color: #b5d334;
  color: white;
  border: none;
  padding: 1.2rem 1.6rem;
  cursor: pointer;
  font-weight: bold;
  text-align: right;
  margin-left: auto;
  margin-top: 50px;
}

.coupons {
  width: 100vw;
  text-align: center;
  margin: 0 20%;
  max-width: 1156px;
}

.couponsTitle {
  margin-top: 155px;
}

.couponContent {
  margin-top: 155px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
}
.couponItem {
  /* background-color: plum;
  border: 1px solid red; */
  display: grid;
  grid-template-rows: 1fr auto;
  font-size: 1.2em;
  margin-bottom: 155px;
}

.couponItemImg {
  display: grid;
  grid-template-columns: 160px 350px;
  grid-template-rows: 1fr;
  place-items: flex-start;
  text-align: left;
}

.couponItemImg img {
  grid-column: 1/2;
  grid-row: 1/2;
}

.couponItemImg h3 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 30px;
  margin-left: 20px;
  color: white;
  font-size: 3em;
  font-style: italic;
}

.couponItemImg .couponText {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 35px;
  margin-left: 45px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.storeChoice {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #080c12;
  justify-self: end;
  margin-top: 10px;
}

.couponItemAvail {
  margin-top: 1rem;
}

/* ===============.footer  */
.footer {
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: #080c12;
}

.footer .content {
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr 1.5fr 4fr 2fr;
  color: white;
  text-align: center;
  align-items: center;
  width: 90%;
  max-width: 1156px;
}

.footer .content a {
  color: white;
  text-decoration: none;
  padding: 0.4em;
}

.footer .content .couponOwner {
  justify-self: end;
}

.footer .content .couponOwner a {
  color: #b5d334;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  border: 1px solid #b5d334;
}

.footer .content .space {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

@media screen and (max-width: 1230px) {
  .footer .content .couponOwner a {
    padding: 1.2rem 1.4rem;
  }
  .coupons {
    width: 100vw;
    text-align: center;
    margin: 0 3%;
  }
}

@media screen and (max-width: 992px) {
  .main {
    grid-template-rows: 96px 1040px 3452px 96px;
  }

  .header {
    place-items: unset;
  }

  .header .content {
    margin-left: 28px;
    width: 80%;
  }

  .wrapper {
    grid-column: 7/10;
  }

  .checkbox-group {
    margin-bottom: 2em;
  }

  .coupons {
    margin: 0;
  }

  .couponContent {
    margin-top: 155px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    place-items: center;
  }

  .footer .content .couponOwner a {
    padding: 1.2rem 0.4rem;
  }
}

@media screen and (max-width: 768px) {
  .footer .content .couponOwner a {
    padding: 1.2rem 0.1rem;
  }

  .main {
    grid-template-rows: 96px 1040px 3452px 96px;
  }

  .header {
    place-items: unset;
  }

  .header .content {
    margin-left: 28px;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.65fr 1fr;
  }

  .green {
    grid-column: 1/2;
    grid-row: 2/3;
    height: calc(100% - 30px);
  }

  .backImg {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(./assets/header-photo-mob.jpg);
  }
  .backPat {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .steps {
    margin-top: 4rem;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 88%;
    margin-left: 43px;
  }
  .congrats {
    max-width: 90%;
    margin-left: 50px;
  }

  .inputs p {
    max-width: 85%;
    text-align: center;
    margin-left: 10px;
  }

  .bar {
    width: 90%;
    margin-left: 0;
  }

  .backPat {
    background-image: url("assets/bg-inoa.png");
    background-repeat: repeat;
    background-size: 100px;
    margin-top: 24px;
    height: 100%;
  }

  .coupons {
    width: unset;
  }

  .couponContent {
    margin-top: 155px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
  }

  .footer {
    height: fit-content;
  }

  .footer .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    padding-bottom: 40px;
  }

  .logoImg {
    justify-self: unset;
  }
  .footer .content .couponOwner {
    justify-self: unset;
  }
}
@media screen and (max-width: 576px) {
  .main {
    grid-template-rows: 96px 830px 3432px 96px;
  }

  .header {
    place-items: unset;
  }

  .header .content {
    margin-left: 28px;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.65fr 1fr;
  }

  .green {
    grid-column: 1/2;
    grid-row: 2/3;
    height: calc(100% - 30px);
  }

  .backImg {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(./assets/header-photo-mob.jpg);
  }
  .backPat {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .steps {
    margin-top: 4rem;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    margin-left: 43px;
  }

  .bar {
    width: 87%;
    margin-left: 0;
  }

  .congrats {
    max-width: 90%;
    margin-left: 50px;
  }

  .inputs p {
    max-width: 85%;
    text-align: center;
  }

  .backPat {
    background-image: url("assets/bg-inoa.png");
    background-repeat: repeat;
    background-size: 100px;
    margin-top: 24px;
    height: 100%;
  }

  .coupons {
    width: 100vw;
    text-align: center;
    margin: unset;
    max-width: 100%;
  }

  .couponContent {
    margin-top: 155px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
  }

  .footer .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    padding-bottom: 40px;
  }

  .logoImg {
    justify-self: unset;
  }
  .footer .content .couponOwner {
    justify-self: unset;
  }
}
